{# src/ri/PlatformeBundle/Resources/views/Advert/add.html.twig #}

{% extends "riPlatformeBundle::layout.html.twig" %}


{% block body%}
  <h2>Ajouter une annonce</h2>

  {{ include("riPlatformeBundle:Advert:form.html.twig") }}
{{dump(liste)}}
  {% if advert.image is not null %}
  <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">
{% endif %}

{% endblock %}